<%- include ('../../templates/head.ejs')  %> 

<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Jenis Pembayaran</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Jenis Pembayaran</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="container-fluid">

        <!-- flash message -->
        <%- include ('../../templates/partials/flash_message.ejs')  %> 

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title float-right">
                   <a class="btn btn-primary btn-sm" href="/payment/create"><i class="fas fa-plus"></i> Tambah</a>
                </h3>
              </div>
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Tipe Pembayaran</th>
                      <th>Bank</th>
                      <th>Status</th>
                      <th>Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                
                    <% for(let i=0; i < payment.length; i++) { %>
                      <tr>
                        <td><%= i+ 1%></td>
                        <td><%= payment[i].type %> </td>
                        <td>
                          <% payment[i].banks.forEach(bank => { %>
                            <span class="badge badge-primary"> <%= bank.bankName + ' a/n ' + bank.name  %> </span>
                           <% }) %>
                        </td>
                        <td>
                          <% if(payment[i].status === 'Y') { %>
                            <span class="badge badge-success">Aktif</span>
                          <% } else { %>
                            <span class="badge badge-danger">Tidak Aktif</span>
                          <% } %>
                        </td>
                        <td>
                          <form method="POST" action="/payment/delete/<%= payment[i]._id %>?_method=DELETE">
                            <a href="/payment/edit/<%= payment[i]._id %>" class="btn btn-warning btn-sm">
                              <i class="fas fa-edit"></i>
                            </a>
                            <button class="btn btn-danger btn-sm">
                              <i class="fas fa-trash"></i>
                            </button>
                          </form>
                        </td>
                      </tr>
                    <% } %>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>

<%- include ('../../templates/foot.ejs')  %> 